body{
    display: flex;
    flex-direction: column;
    .nav-div{
        position: fixed;
        top: 100px;
        left: 0;
        height: 300px;
        padding-right: 10px;
        border: 3px solid rgb(209, 0, 0);
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        #navbar{
            width: 300px;
            height: 300px;
            overflow: auto;
            header{
                margin-left: 10px;
                font-size:35px;
                margin-top: 40px;
                margin-bottom: 30px;
                border-bottom: 4px dashed green;
            }
            h4{
                font-size: 20px;
                height: 50px;
                display: flex;
                align-items: center;
                border-bottom: 2px solid black;
                &:hover{
                    background-color: rosybrown;
                }
                .nav-link{
                margin-left: 40px;
                color: black;
                transition: 0.2s ease-in;
                &:hover{
                    color:rgb(209, 0, 0);
                }
                }   
            }
            
        }
    }
    #main-doc{
        margin-left: 340px;
        margin-top: 60px;
        .main-section{
            max-width: 1100px;
            width: 100%;
            margin-bottom: 40px;
            header{
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 30px;
            }
            p{
                margin-bottom: 20px;
                line-height: 1.2;
                font-size: 17px;
            }
            code{
                margin-bottom: 20px;
                background-color: silver;
                p{
                    margin-bottom: 0;
                    padding: 5px;
                    width: 600px;
                    background-color: silver;
                    @media(max-width: 900px){
                        width: 100%;
                    }
                }
                p:nth-child(2){
                    margin-bottom: 20px;
                }
            }
            ul{
                list-style-type: circle;
                margin-left: 50px;
                li{
                    margin-bottom: 10px;
                    line-height: 1.2;
                }
                
            }
        }
        section:nth-child(6){
            code{
                p{
                    margin-bottom: 20px;
                }
            }
        }
        section:nth-child(9){
            ul{
                li{
                    a{
                        text-decoration: underline;
                        font-size: 25px;
                        transition: 0.5s;
                        &:hover{
                            color:slateblue;
                        }
                    }
                }
            }
        }
    }
    footer{
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        background-color: silver;
        p{
            font-size: 30px;
            color:rgb(172, 27, 2);
        }
    }
}